@import '../../styles/styles.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: $primary-color;
    color: white;

    &__title {
        font-size: 1.5rem;
    }

    &__toggle-theme {
        padding: 10px;
        background: white;
        color: $primary-color;
        border: none;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
            background: $secondary-color;
            color: white;
        }
    }
}

.main {
    padding: 20px;
    text-align: center;

    &__text {
        font-size: 1.2rem;
    }
}