<header class="header">
  <h1 class="header__title">Lista de tareas</h1>
  <input type="range" min="0" max="100" [value]="brightness" (input)="updateDarkMode($event)" />
  <div class="header__options">
      <a href="/" class="header__inicio-link">Inicio</a>
      <a href="/home" class="header__home-link">Home</a>
      <a href="/contact" class="header__contact-link">Contacto</a>
      <a href="/privacy" class="header__privacy-link">Política de Privacidad</a>
  </div>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="slider">
    <div class="slider__wrapper">
      
      <div class="slider__item">
        <img src="https://cdn.worldvectorlogo.com/logos/nike-4.svg" alt="">
      </div>
      <div class="slider__item">
        <img src="https://cdn.worldvectorlogo.com/logos/converse-4239.svg" alt="">
      </div>
      <div class="slider__item">
        <img src="https://cdn.worldvectorlogo.com/logos/topper.svg" alt="">
      </div>
      <div class="slider__item">
        <img src="https://cdn.worldvectorlogo.com/logos/adidas.svg" alt="">
      </div>
      <div class="slider__item">
        <img src="https://cdn.worldvectorlogo.com/logos/reebok-5.svg" alt="">
      </div>
      <div class="slider__item"> <!--Slide-->
        <img src="https://cdn.worldvectorlogo.com/logos/puma.svg" alt="">
      </div>
      <div class="slider__item">
        <img src="https://cdn.worldvectorlogo.com/logos/diesel-3.svg" alt="">
      </div>
      
      <!-- 2da vuelta -->
      
      <div class="slider__item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkYy1kL15Wuvsu3JlfVZQdya696qb8obVktw&s" alt="">
      </div>
      <div class="slider__item">
        <img src="https://cdn.worldvectorlogo.com/logos/converse-4239.svg" alt="">
      </div>
      <div class="slider__item">
        <img src="https://cdn.worldvectorlogo.com/logos/topper.svg" alt="">
      </div>
      <div class="slider__item">
        <img src="https://cdn.worldvectorlogo.com/logos/adidas.svg" alt="">
      </div>
      <div class="slider__item">
        <img src="https://cdn.worldvectorlogo.com/logos/reebok-5.svg" alt="">
      </div>
      <div class="slider__item">
        <img src="https://cdn.worldvectorlogo.com/logos/puma.svg" alt="">
      </div>
      <div class="slider__item">
        <img src="https://cdn.worldvectorlogo.com/logos/diesel-3.svg" alt="">
      </div>
      

      <div class="slider__item">
        <img src="https://cdn.worldvectorlogo.com/logos/nike-4.svg" alt="">
      </div>
      <div class="slider__item">
        <img src="https://cdn.worldvectorlogo.com/logos/converse-4239.svg" alt="">
      </div>
      <div class="slider__item">
        <img src="https://cdn.worldvectorlogo.com/logos/topper.svg" alt="">
      </div>
      <div class="slider__item">
        <img src="https://cdn.worldvectorlogo.com/logos/adidas.svg" alt="">
      </div>
      <div class="slider__item">
        <img src="https://cdn.worldvectorlogo.com/logos/reebok-5.svg" alt="">
      </div>
      <div class="slider__item"> <!--Slide-->
        <img src="https://cdn.worldvectorlogo.com/logos/puma.svg" alt="">
      </div>
      <div class="slider__item">
        <img src="https://cdn.worldvectorlogo.com/logos/diesel-3.svg" alt="">
      </div>
    </div>
  </div>
</footer>
