@import 'variables';
@import 'theme';
@import 'bootstrap/dist/css/bootstrap.min.css';

input[type="range"] {
    display: flex;
    justify-content: center;
    width: 10%;
    margin: 10px 0;
    cursor: pointer;
    -webkit-appearance: none;
    height: 5px;
    background: #ccc;
    border-radius: 5px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
  }
  