.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &.completed {
      text-decoration: line-through;
      opacity: 0.5;
  }
  
    button {
      background: red;
      color: white;
      border: none;
      padding: 5px;
      cursor: pointer;
    }
  }
  