@import '../../styles/styles.scss';

.privacy-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;

    h1 {
        color: $primary-color;
        text-align: center;
    }

    h2 {
        color: $secondary-color;
        margin-top: 20px;
    }

    p {
        font-size: 1rem;
        line-height: 1.6;
    }

    .btn {
        display: block;
        margin: 20px auto;
        text-align: center;
        padding: 10px 15px;
        border-radius: 5px;
    }
}
